<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg bg-gradient-default pb-250">
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row align-items-center">
            <div class="col-md-6 order-lg-2 ml-lg-auto">
              <div class="position-relative pl-md-5">
                <img
                  src="./assets/img/ill/ill-2.svg"
                  class="img-center img-fluid"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <h1 class="display-3 text-white">
                Advent of Code<br /><br />
                <i class="lead">Challenge yourself</i>
              </h1>
              <p class="lead text-white">
                The design system comes with four pre-built pages to help you
                get started faster. You can change the text and images and
                you're good to go.
              </p>
              <div class="btn-wrapper">
                <a
                  [routerLink]="['/login']"
                  class="btn btn-info btn-icon mb-3 mb-sm-0"
                >
                  <span class="btn-inner--icon"
                    ><i class="fa fa-code"></i
                  ></span>
                  <span class="btn-inner--text">Se connecter</span>
                </a>
                <a
                  [routerLink]="['/register']"
                  class="btn btn-white btn-icon mb-3 mb-sm-0"
                >
                  <span class="btn-inner--icon"
                    ><i class="ni ni-cloud-download-95"></i
                  ></span>
                  <span class="btn-inner--text">S'inscrire</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
</main>
